= number_field_tag :left_team_score,
    prediction.left_team_score,
    min: 0,
    max: 100,
    id: "predicted_left_team_score_input_#{prediction.id}",
    class: "score-controls"

= number_field_tag :right_team_score,
    prediction.right_team_score,
    min: 0,
    max: 100,
    id: "predicted_right_team_score_input_#{prediction.id}",
    class: "score-controls"
