%nav.navbar.navbar-expand-lg.navbar-light.mb-4
  = link_to 'Admin', '#', class: 'navbar-brand'

  - if admin_signed_in?
    %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon

    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          = link_to 'Matches', admin_root_path, class: 'nav-link'
        %li.nav-item
          = link_to '[→ Sign out', admin_sessions_path, method: :delete, class: 'nav-link'

