%h1= user.player_id

- if Match.finished.limit(1).any?
  .mt-4
    %h2 Stats
    .sinuswave-hr
  = render 'stats', user: @user


- if user.squad_accepts.any?
  .mt-4
    %h2 Squads
    .sinuswave-hr
  = render 'squad_members', squad_members: user.squad_accepts
