- if squad_members.any?
  .squad_members
    - squad_members.each do |squad_member|
      - this_squad = squad_member.squad
      .squad_member.mt-4
        .row
          .col-12.ci-squad-name.squad-name.text-break-all
            = link_to this_squad.name, squad_path(this_squad)
        .row
          .col-12.ci-squad-ranking
            %small
              - ranking = squad_member.ranking_position
              - if ranking.present?
                - if ranking == 1
                  %strong FUSSBALLGOTT
                  in this squad!
                - else
                  = "Ranked # #{squad_member.ranking_position} out of #{pluralize(this_squad.accepted_players_total, 'player')}"
              - else
                Not ranked (yet)
