- unpredicted_matches_count = user.unpredicted_matches.count
- if unpredicted_matches_count.positive?
  .unpredicted_matches
    %h2 Hurry!
    .sinuswave-hr
      .card.text-center
        .card-body
          .card-text.ci-number-of-unpredicted-matches
            = "You have #{unpredicted_matches_count} unpredicted #{'match'.pluralize(unpredicted_matches_count)}"
          .card-text.mt-3
            .btn-tk
              = link_to 'Predict them now!',
                prediction_center_path,
                class: 'btn btn-primary'
              .bottom-border
