%h1 Ranking

%h2 Guys who know

.row.no-gutters.small.text-muted
  .col
    \#
  .col-8
    Player
  .col.text-center
    Pts
- @top_100.each do |user|
  .row.no-gutters
    .col
      = user.ranking_position
    .col-8
      = user.nickname
    .col.text-center
      = user.points_total || '-'
