%h1 Global ranking

.sinuswave-hr

.row.no-gutters.small.text-muted.mt-4
  .col
    \#
  .col-8
    Player
  .col.text-center
    Pts
- @top_100.each do |user|
  .row.no-gutters.mt-3.mb-3.ci-ranked-user
    .col
      = user.ranking_position
    .col-8
      .row
        .col
          = link_to user.nickname, user_path(user)
      - if user.ranking_position == 1
        .row
          .col
            %small
              %strong FUSSBALLÜBERGOTT
    .col.text-center
      = user.points_total || '-'
