.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active:focus {
  background-color: transparent !important;
  color: $primary !important;
  font-size: 0.9rem;
}


.btn-tk {
  position: relative;
  display: inline-block;

  .btn-group-vertical {
    .btn {
      border-radius: 40px;
    }

    .btn:first-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .btn:last-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  input[type=submit], a, button {
    z-index: +1;
    display: inline-block;
    position: relative;
    background-color: #fff;
    border-radius: 40px;
    background-color: $transparent;
    color: $purple-base;
    border-color: $purple-base;
    padding-left: 20px;
    padding-right: 20px;

    &.pushed, &:focus {
      top: 5px;
    }
  }

  .bottom-border {
    display: block;
    border-radius: 0 0 20px 20px;
    position: relative;
    border-width: 0 3px 3px 3px;
    border-style: solid;
    border-color: $purple-base;
    top: -20px;
    height: 30px;
  }
}
