.form-control::placeholder {
  color: $purple-light;
  font-size: 0.8rem;
}

input[type=text],
input[type=password],
input[type=email]
{
  border-color: $purple-base;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
}
