.match-with-prediction {
  .smaller-bold {
    font-size: 0.9rem;
    font-weight: bold;
  }

  .tiny-text {
    font-size: 0.6rem;
  }
  .score-value {
    font-weight: bold;
  }
}

.score-controls {
  font-size: 2.5rem;

  input[type=number] {
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  input[type=submit] {
    width: 100%;
    margin-top: 25px;
  }
}

.prediction-center-actions {
  button {
    display: inline-block;
  }
}
