@mixin sinuswave($color) {
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 72 20" style="enable-background:new 0 0 72 20;" xml:space="preserve"%3E  %3Cstyle type="text/css"%3E    .st0{fill:none;stroke:#{encodecolor($color)};stroke-width:6;stroke-miterlimit:10;}  %3C/style%3E  %3Cpath class="st0" d="M0,0c18,0,18,20,36,20C54,20,54,0,72,0"/%3E%3C/svg%3E');
}

.sinuswave-hr {
  @include sinuswave($purple-base);
  background-repeat: repeat-x;
  background-size: 10% 100%;
  height: 1rem;
}
