.mt-3.text-center
  = inline_svg_tag 'logo.svg', class: 'tk-logo-large'

.mt-3
  %h1 Good you're here!

.row.mt-5
  .col
    %strong TippKick
    is a
    %strong free
    and
    %strong fun
    betting game for the
    %strong Soccer World Cup 2018 in Russia!
    = link_to 'Tell me more...', about_path, class: 'simple-link'

.row.mt-5.no-gutters.text-center
  .col
    .btn-tk
      = link_to 'Create account',
        new_registration_path(User.new),
        class: 'btn btn-primary'
      .bottom-border

.row.mt-1.mb-4.no-gutters.text-center
  .col
    or

.row.no-gutters.text-center
  .col
    .btn-tk
      = link_to 'Sign in',
        new_user_session_path(User.new),
        class: 'btn btn-primary'
      .bottom-border
