
.mt-4
  = link_to 'Back to your locker', root_path

%h1 Prediction center

#prediction-center-actions.mt-4
  .row.no-gutters
    .col-6
      %button.btn.btn-primary.col-12.upcoming-matches Upcoming
    .col-6
      %button.btn.btn-primary.col-12.finished-matches Finished

.mt-5
  %h2 Group stage
  .sinuswave-hr

- @matches_with_predictions.each do |match_with_prediction|
  - if match_with_prediction.match.predictable?
    .future.match-with-prediction{ id: "match_#{match_with_prediction.match.id}"}
      = render 'predictable_match', match_with_prediction: match_with_prediction
      .sinuswave-hr
  - else
    .match-with-prediction.passed.d-none
      = render 'passed_match', match_with_prediction: match_with_prediction
      .sinuswave-hr
