
.mt-4
  = link_to 'Back to your locker', root_path

%h1 Prediction center

.mt-5
  %h2 Group stage
.sinuswave-hr
- not_first = false
- @matches_with_predictions.each do |match_with_prediction|
  - if not_first
    .sinuswave-hr
  - else
    - not_first = true
  - if match_with_prediction.match.predictable?
    = render 'predictable_match', match_with_prediction: match_with_prediction
  - else
    = render 'passed_match', match_with_prediction: match_with_prediction
