
.mt-4
  = link_to 'Back to your locker', authenticated_root_path

%h1 Prediction center

- if @finished_matches.any?
  #prediction-center-actions.mt-4
    .row.no-gutters
      .col-6
        .btn-tk.col-12
          %button.btn.btn-primary.col-12.upcoming-matches.pushed Upcoming
          .bottom-border
      .col-6
        .btn-tk.col-12
          %button.btn.btn-primary.col-12.finished-matches Finished
          .bottom-border


.mt-5
  %h2 Group stage
  .sinuswave-hr

- @finished_matches.each do |match_with_prediction|
  .match-with-prediction.passed.d-none
    = render 'passed_match', match_with_prediction: match_with_prediction
    .sinuswave-hr

- @upcoming_matches.each do |match_with_prediction|
  .match-with-prediction.future{ id: "match_#{match_with_prediction.match.id}"}
    = render 'predictable_match', match_with_prediction: match_with_prediction
    .sinuswave-hr

