.squad-members.mt-4
  - squad_members.each do |squad_member|
    - is_ranked = squad_member.ranking_position&.positive?
    .squad-member.mt-3.mb-3
      .row
        .col-1.ci-user-ranking-position
          = squad_member.ranking_position || '-'
        .col-10
          .row
            .col-12.ci-user-nickname.text-break-all
              = link_to squad_member.user.nickname, user_path(squad_member.user)
          .row
            .col-12.text-muted.ci-user-stats
              %small
                - if squad_member.invited?
                  (Invited)
                - else
                  %span.points-total-with-sign= squad_member.user.points_total
                  |
                  %span.points-average-with-sign= squad_member.user.points_match_average.to_f / 100
          - if squad_member.ranking_position == 1
            .row
              .col
                %strong
                  %small FUSSBALLGOTT

