div[data-link]:hover {
  cursor: pointer;
}

// Boostrap Variables

$enable-rounded: false;
$enable-shadows: true;

.score-controls {
  display: inline-block;
  width: 100%;
  font-size: 30px;
  text-align: center;
}

input[type=submit] {
  margin-top: 25px;
}
