@import url('https://fonts.googleapis.com/css?family=Raleway');

$font-family-sans-serif: 'Raleway', sans-serif;

$transparent: rgba(255, 255, 255, 0);
$purple-base: rgba( 70,  45, 129, 1);
$purple-light: transparentize($purple-base, 0.7);
$purple-super-light: rgb(242,239,249);

$body-color: $purple-base;
$link-color: $purple-base;
$primary: $purple-base;

$enable-rounded: false;
$border-width: 3px;

