%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .text-warning
    tippkick.club
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon

  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to "Prediction Center",
          root_path,
          class: 'nav-link'

      %li.nav-item
        %a.nav-link{:href => "#"} Rankings

      %li.nav-item
        %a.nav-link{:href => "#"} Profile

      %li.nav-item
        = link_to '[→ Sign out',
          destroy_user_session_path,
          method: :delete,
          class: 'nav-link'
